<div id="block1">
  <div class="wrap">
    <div class="intro">
      <div class="intro-text">
        <div class="heading">
          <h3>About us</h3>
          <h2>Createx Online School</h2>
        </div>
        <p class="medium-bold-text">Createx Online School is a leader in online studying. We have lots<br> of courses and programs from the main market experts.</p>
        <p class="normal-text">We provide relevant approaches to online learning, internships and employment in the <br>
          largest companies in the country. Our educational programs help you get a new <br>
          specialty from scratch. During your studies, we will help you find a job. Check the <br>
          courses and online events that we organise.</p>
        <div>
          <button class="about-us-btn">Explore events</button>
          <button class="explore-btn">Browse courses</button>
        </div>

      </div>
      <img src="assets/about-page/illustrationAboutBlock.png" alt="illustration">
    </div>
    <div class="video">
      <button><img src="assets/hover.svg">Watch Video</button>
      <div class="video-content">
        <img alt="video" src="assets/about-page/video-prev.jpg">
        <div>
          <ul class="list">
            <li>
              1200
              <span>Students graduated</span>
            </li>
            <li>
              84
              <span>Completed courses</span>
            </li>
            <li>
              16
              <span>Qualified tutors</span>
            </li>
            <li>
              5
              <span>Years of experience</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="block2">
  <div class="wrap">
    <div class="values">
      <div class="heading align-center">
        <h3>We always stand for</h3>
        <h2>Our core values</h2>
      </div>
      <div class="values-box">
        <div class="icon-boxes">
          <img alt="icon" src="assets/about-page/icon-boxes/ic-structure.png">
          <p class="medium-bold-text">
            Structured Approach
          </p>
          <p class="normal-text">Aenean urna dictum adipiscing <br>nec, cras quisque. Nunc in mauris. </p>
        </div>
        <div class="icon-boxes">
          <img alt="icon" src="assets/about-page/icon-boxes/ic-chat.png">
          <p class="medium-bold-text">Professional Feedbacks</p>
          <p class="normal-text">Culpa nostrud commodo ea <br> consequat reprehenderit aliquip. </p>

        </div>
        <div class="icon-boxes">
            <img alt="icon" src="assets/about-page/icon-boxes/ic-target.png">
            <p class="medium-bold-text">
              Efficiency
            </p>
            <p class="normal-text">Viverra scelerisque consequat net.<br> Adipisicing esse consequat. </p>
          </div>
            <div class="icon-boxes">
              <img alt="icon" src="assets/about-page/icon-boxes/ic-calendar.png">
              <p class="medium-bold-text">
                Flexible Shedule
              </p>
              <p class="normal-text">Aute eiusmod dolore dolore deserunt veniam ad deserunt. </p>
            </div>
      </div>
    </div>
    <div class="directions-courses">
      <div class="heading align-center">
        <h3>our main directions</h3>
        <h2>What do we teach</h2>
      </div>
      <div>
        <ng-container>
          <div>
            <img>
            <p></p>
            <button></button>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
