<div id="block6">
  <div class="wrap">
    <div class="certificate">
      <div class="certificate info">
        <div class="heading">
          <h3>Createx Certificate</h3>
          <h2>Your expertise will be confirmed</h2>
        </div>
        <p>We are accredited by international professional organizations and institutes:</p>
        <div class="logos">
          <img alt="logo" src="assets/certificate/logo1.jpg">
          <img alt="logo" src="assets/certificate/logo2.jpg">
          <img alt="logo" src="assets/certificate/logo3.jpg">
        </div>
      </div>
      <img src="../../assets/certificate/certificate.jpg">
    </div>
  </div>
</div>
