.nav{
  display: flex;
  width: 1230px;
  height: 54px;
  justify-content: space-between;
  margin: 10px auto;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  align-items: center;
}

  ul{
    display: flex;
    width: 450px;
    justify-content: space-between;
    padding-top: 10px;
  }
li{
  list-style-type: none;
 li:active{
   color: #FF3F3A;
 }
}
  a {
    display: inline-block;
    color: #000000; /* Цвет обычной ссылки */
    line-height: 1;
    text-decoration: none; /* Убираем подчеркивание */
    cursor: pointer;
  }

  a:after {
    background-color: #f66d52; /* Цвет линии при наведении на нее курсора мыши */
    display: block;
    content: "";
    height: 2px; /* Высота линии */
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
  }

  a:hover:after,
  a:focus:after {
    width: 100%;
  }
  a:active{
    color: #FF3F3A;
  }

.nav-buttons{
  display: flex;
}
.consl-button{
  width: 141px;
  height: 52px;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border: #FF3F3A solid;
  color: #ffffff;
}
.loginbtn{
  display: flex;
  align-items: center;
}
.login{
  border: none;
  background: white;
}
