<div class="nav">
  <div class="logo">
    <img src="assets/logo.svg" alt="logo">
  </div>

    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/']" >Home</a></li>
      <li routerLinkActive="active"> <a href="#">About us</a> </li>
      <li routerLinkActive="active"><a href="#">Courses</a></li>
      <li routerLinkActive="active"><a href="#">Blog</a></li>
      <li routerLinkActive="active"> <a [routerLink]="['contact-form']" >Contacs</a></li>
    </ul>

  <div class="nav-buttons" >
    <button class="consl-button">Get consultation</button>
    <div class="loginbtn"><button class="login"><mat-icon>how_to_reg</mat-icon>  Log in | Register</button></div>
  </div>
</div>
<router-outlet></router-outlet>
